# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
.venv/
venv/

# Pytest
.pytest_cache/

# VSCode
.vscode/

# Logs
logs/

# Cache
cache/

# Output
output/

# SQLite
*.sqlite
*.db

# Windows
Thumbs.db